.checkupSumbit-container {
    width: 90%;
    max-width: 1000px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #f3f3f3;
    padding: 40px;
  }

 .checkupSumbit-paragraph {
    margin-left: 4px;
    font-weight: normal;
}
 .checkupSumbit-remark {
    text-align: justify;
}

.checkup-submit-button {
  border-radius: 6px;
  border: 2px solid rgb(158, 211, 66);
  background-color: rgb(204, 229, 160);
  padding: 5px;
  font-weight: bold;
}
.checkup-submit-button:hover {
  background-color: rgb(169, 218, 85);
  
}

.change-button {
  border-radius: 6px;
  border: 2px solid rgb(149, 184, 255);
  background-color: rgb(209, 224, 255);
  /* color: white; */
  padding: 5px 10px;
  font-weight: bold;
  margin-left: 4px;
}
.change-button:hover {
  background-color: rgb(149, 184, 255);
}

  
  /* Responsive for smaller screens */
  @media (max-width: 992px) { .checkupSubmit-container {
      height: auto;
      padding: 20px;
    }
  }