
.doctorList-table {
    border-collapse: separate;
    border-spacing: 0px 6px; 
    width: 90%;
    margin: auto;
}

th, td {
    padding: 10px;
    text-align: center;
    /* border: 1px solid #ddd; */
}
th {
    /* border-bottom-color: red;
    border-top-color: red;
    border-bottom-width: 2px;
    border-top-width: 2px; */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}
th:first-child {
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    /* border-left-color: red;
    border-left-width: 2px; */
}
th:last-child {
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    /* border-right-color: red;
    border-right-width: 2px; */
}
/* td:first-child { */
/* border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    } */
    
.doctorList-thead {
    /* background-color: #f5f5f5; */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(255, 0, 0, 0.258);
}

.doctorList-tr {
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}