
.patientsList-table {
    border-collapse: separate;
    border-spacing: 0px 6px; 
    width: 90%;
    margin: auto;
}

th, td {
    padding: 10px;
    text-align: center;
    /* border: 1px solid #ddd; */
}
    
.patientsList-thead {
    /* background-color: #f5f5f5; */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(255, 0, 0, 0.258);
}

.patientsList-row {
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}
