.editDoctor-container {
    width: 80%;
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.editDoctor-image-container {
    display: flex;
    justify-content: flex-start;  
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.accept-register-request-button { 
    border-radius: 6px;
    border: 2px solid rgb(36, 36, 36);
    background-color: gray;
    color: white;
    padding: 5px;
    font-weight: bold;
}
.accept-register-request-button:hover {
  background-color: rgb(149, 149, 149);
}

.decline-register-request-button { 
    border-radius: 6px;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgba(255, 20, 20, 0.838);
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    margin-left: 6px; 
}
.decline-register-request-button:hover {
  background-color: rgba(255, 47, 47, 0.838);
}

@media (max-width: 992px) {
    .accept-register-request-button{
        margin-bottom: 2px;
    }
}